/* changing the navbar to a dark green */
.navbar-custom, footer {
    background-color: #4aaaa5;
}
/* changing the header and hr to custom color */
.prime, hr, footer {
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
/* changes the brand and link color */
.navbar-brand, .nav-link {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: x-large;
}
/* sets the bg image to the body */
body {
    background-image: url("../images/bg.png");
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: solid 10px #4aaaa5;
}

/* float css */
.leftfloat {
    float: left;
}
.form-group {
    margin-left: 15px;
}
.container {
    background-color: white;
    background-size: cover;
    width: 700px;
    margin-left: 30px;
    margin-top: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* padding is putting a space between picture and text */
.aboutme img {
    padding-right:15px;
    padding-bottom:10px;
}

.btn-primary {
    border-radius: 0;
    background-color: #4aaaa5;
}


