/* changing the navbar to a dark green */
.navbar-custom, footer {
    background-color: #4aaaa5;
}
/* changing the header to custom color */

/* changes the brand and link color */
.navbar-brand, .nav-link {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: x-large;
}
/* sets the bg image to the body */
body {
    background-image: url("../images/bg.png");
}
/* setting the padding and color of my horizontal bar */
hr {
    color: #4aaaa5;
    padding: 5px, 0px, 5px, 0px;
}
/* css to help get my sticky footer running plus customization */
footer {
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 18px;
    line-height: 2.5;
    justify-content: center;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: solid 10px #4aaaa5;
}
/* moving my groups in the contact form right a bit */
.form-group {
    margin-left: 15px;
}
/* base customization of the container grid */
.container {
    background-color: white;
    background-size: cover;
    width: 100%;
    margin-left: 30px;
    margin-top: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* this is mostly the header css */
.aboutme {
    margin-left: 10px;
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}
/* padding is putting a space between picture and text */
.aboutpic img {
    padding-right:15px;
    padding-bottom:10px;
    height: 250px;
    width: 250px;
    object-fit: contain;
}
/* making that button square and colored teal */
.btn-primary {
    border-radius: 0;
    background-color: #4aaaa5;
}
/* making those images fit and behave */
.portfolioimages {
    width: 100%;
    height: 350px;
    object-fit: contain;
}
/* making the form container box not SO big */
#form {
    width: 500px;
}


